<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Memobject</title>
    <link href="/css/top.style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="\images\Memobject-logo-white.png" >
        </div>
        <div class="header-right">
          <a href="/login" class="login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>MAKE NOTES A HABIT.</h1>
        <h1>NOTES IMPROVE YOUR SKILLS.</h1>
        <p>Memobjectはメモするあなたをサポートします。</p>
        <p>目標メモ、買い物メモ、予定メモなどなんでもメモしましょう！</p>
        <div class="btn-wrapper">
          <a href="/signup" class="btn signup">新規登録はこちら</a>
        </div>
      </div>
    </div>
    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Memobjectとは？</h2>
          <p>1, 完全無料の使い放題なメモサイト！</p>
          <p>2, 広告がまったくないから使いやすい！</p>
          <p>3, ログイン式のサイトだから、同じアカウントを共有することでグループでも使用可能！</p>
        </div>
        <div class="lessons">
          <h2>利用者の感想</h2>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="\images\hans-jurgen-mager-qQWV91TTBrE-unsplash.jpg">
              <p>クマ・マイケルさん</p>
            </div>
            <p class="txt-contents">このサイトを利用することで、メモの習慣が身に付きました。memobjectには感謝してもしきれないです。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="\images\laura-college-K_Na5gCmh38-unsplash.jpg">
              <p>バンビさん</p>
            </div>
            <p class="txt-contents">買い物メモとして利用しています。スーパーに行っても、自分が欲しかったものを取り逃さず買うことができますよ。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="\images\ricky-kharawala-adK3Vu70DEQ-unsplash.jpg">
              <p>ハム太郎さん</p>
            </div>
            <p class="txt-contents">毎日のやることメモに利用しているよ。memobjectのおかげでモチベーションも上がるんだ。ぜひおすすめしたいね。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="\images\geronimo-giqueaux-pr1M1Y7zdik-unsplash.jpg">
              <p>タマさん</p>
            </div>
            <p class="txt-contents">仕事チームで「何をすべきか」をこのサイトで共有していました。プロジェクトの進みもおかげさまで速くなりました。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>あなたもメモする習慣をつけ、人生を変えてみませんか？</h2>
          <h3>If you want to change your life, act now!</h3>
        </div>
        <a href="/signup" class="btn message">メモしてみる！</a>
      </div>
    </div>
    <footer>
      <div class="container">
        <img src="\images\Memobject-logo (1).png">
        <p>Make notes a habit.</p>
      </div>
    </footer>
  </body>
</html>